/* Header */

header {
    background-color: #ff6900;
    padding: 20px;
    box-shadow: 0 1px 5px;
}

.main-header {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

nav span {
    margin-right: 5px;
}

.profile i {
    margin-left: 5px;
}

nav,
.profile {
    width: 30%;
}

.logo {
    flex-grow: 1;
    text-align: center;
}

.logo>img {
    height: 40px;
}

.main-header>.profile {
    text-align: right;
}

/* Main Content */

.main-content {
    padding: 60px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}

.col {
    position: relative;
    width: 32%;
}

/* Discount Tag */
.product-tags {
    position: absolute;
    bottom: 120px;
}

.tag {
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px;
}

.discount-tag.tag {
    background-color: red;
}

.sustainability-tag.tag {
    background-color: #008000;
}

/* Main Content Infos */

.product-info span {
    display: block;
}

.product-info>.product-price,
.product-info>.product-price-discount {
    display: inline-block;
}

.product-info>.product-brand {
    font-weight: 300;
}

.product-info>.product-name {
    font-weight: 500;
    font-size: 20px;
}

.product-info>.product-price {
    color: red;
    font-weight: 500;
}

.product-info>.product-price-discount {
    font-weight: 300;
    text-decoration: line-through;
}

/* Footer */

footer {
    background-color: #1A1A1A;
    color: white;
    padding: 40px 0;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-infos ul li {
    display: inline-block;
    margin: 10px 15px 0 0;
}

.company-socials {
    text-align: center;
}

.company-socials i {
    margin: 10px 5px 0 0;
}